@using WowSQL
@using WowCore
@using System.Data
@model Dictionary<string, object>
@{

}

<style>
    .select2-container--default .select2-selection--single {
        border: unset;
    }
</style>
<div class="mb-2" style="text-align:center;">
    <div class="iq-card-body p-0">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-chuong">
            Bắt đầu đọc
        </button>
    </div>
</div>

